/*
 * * * * * * * * * * * * * * * * * * *
 * NAVIGATION
 * * * * * * * * * * * * * * * * * * *
 */

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: $off-white;
  border-right: 1px solid $mid-grey;
  z-index: 1000;

  header {
    margin: 0;
    @include font-size(2);

    a {
      display: block;
      height: 70px;
      padding: 0 20px;
      background: $dark-cyan;
      color: $white;
      line-height: 70px;
      text-shadow: 1px 1px 1px rgba($off-black, .2);
      text-decoration: none;
      @include transition(all ease 200ms);
      border-bottom: 1px solid rgba($off-black, .4);

      &:hover,
      &:active,
      &:focus {
        background: tint($dark-cyan, 80);
        outline: none;
        color: $white;
        text-decoration: none;
      }
    }
  }

  ul {
    width: 100%;
    @include unstyled-list();

    li {
      display: block;
      width: 100%;
      height: auto;
      border-bottom: 1px solid $light-grey;

      a {
        position: relative;
        display: block;
        width: 100%;
        min-height: 45px;
        color: $off-black;
        padding: 13px 15px 12px 15px;
        opacity: .7;
        @include transition(all ease 200ms);
        overflow: hidden;
        text-decoration: none;
        background: $off-white;

        &.active,
        &:active,
        &:hover {
          opacity: 1;
          color: $black;
          background: tint($off-white, 50);
          text-decoration: none;
        }

        &:focus { outline: none; }
      }
    }
  }
}